In [1]:
# Recommenders system:Item-Based Collaborative Filtering
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [2]:
#Now we'll pivot this table to construct a nice matrix of users and the movies they rated
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#This gives us a correlation score between every pair of movies
corrMatrix = userRatings.corr()
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [4]:
#This guy really likes Star Wars and The Empire Strikes Back, but hated Gone with the Wind. I'll extract his ratings from the userRatings DataFrame, and use dropna() to get rid of missing data (leaving me only with a Series of the movies I actually rated:)
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [6]:
#let's go through each movie I rated one at a time, and build up a list of possible recommendations based on the movies similar to the ones I rated.
#So for each movie I rated, I'll retrieve the list of similar movies from our correlation matrix. I'll then scale those correlation scores by how well I rated the movie they are similar to, so movies similar to ones I liked count more than movies similar to ones I hated:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates)

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting...
Man of the Year (1995)                                                               5.0
Hollow Reed (1996)                                                                   5.0
Commandments (1997)                                                                  5.0
Golden Earrings (1947)                                                               5.0
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 5.0
Good Man in Africa, A (1994)                                                         5.0
Golden Earrings (1947)                                                               5.0
Full Speed (1996)                                                                    5.0
Line King: Al Hirschfeld, The (1996)                                                 5.0
Ed's Next Move (1996)                                                                5.0
Cosi (1996)                                                                          5.0
Love Serenade (1996)                                                                 5.0
Twisted (1996)                                                                       5.0
Forbidden Christ, The (Cristo proibito, Il) (1950)                                   5.0
Beans of Egypt, Maine, The (1994)                                                    5.0
Newton Boys, The (1998)                                                              5.0
No Escape (1994)                                                                     5.0
Second Jungle Book: Mowgli & Baloo, The (1997)                                       5.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    5.0
Search for One-eye Jimmy, The (1996)                                                 5.0
Outlaw, The (1943)                                                                   5.0
Scarlet Letter, The (1926)                                                           5.0
Safe Passage (1994)                                                                  5.0
Pompatus of Love, The (1996)                                                         5.0
Hurricane Streets (1998)                                                             5.0
Quiet Room, The (1996)                                                               5.0
Bewegte Mann, Der (1994)                                                             5.0
Outlaw, The (1943)                                                                   5.0
Empire Strikes Back, The (1980)                                                      5.0
A Chef in Love (1996)                                                                5.0
                                                                                    ...
Sliding Doors (1998)                                                                -5.0
Neon Bible, The (1995)                                                              -5.0
Some Mother's Son (1996)                                                            -5.0
Slingshot, The (1993)                                                               -5.0
Show, The (1995)                                                                    -5.0
Glass Shield, The (1994)                                                            -5.0
Flower of My Secret, The (Flor de mi secreto, La) (1995)                            -5.0
Legal Deceit (1997)                                                                 -5.0
Tough and Deadly (1995)                                                             -5.0
Slingshot, The (1993)                                                               -5.0
Frankie Starlight (1995)                                                            -5.0
Squeeze (1996)                                                                      -5.0
Senseless (1998)                                                                    -5.0
Joy Luck Club, The (1993)                                                           -5.0
Gone Fishin' (1997)                                                                 -5.0
Sliding Doors (1998)                                                                -5.0
Neon Bible, The (1995)                                                              -5.0
Lover's Knot (1996)                                                                 -5.0
Nil By Mouth (1997)                                                                 -5.0
Nil By Mouth (1997)                                                                 -5.0
Four Days in September (1997)                                                       -5.0
Year of the Horse (1997)                                                            -5.0
American Dream (1990)                                                               -5.0
Rendezvous in Paris (Rendez-vous de Paris, Les) (1995)                              -5.0
Horse Whisperer, The (1998)                                                         -5.0
For Ever Mozart (1996)                                                              -5.0
Nightwatch (1997)                                                                   -5.0
Dream Man (1995)                                                                    -5.0
Crossfire (1947)                                                                    -5.0
To Have, or Not (1995)                                                              -5.0
Length: 3966, dtype: float64